<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SoundCalc.Properties.Settings.ConnectionString" connectionString="Dsn=MS Access Database;dbq=C:\USERS\VIKTOR\SOURCE\REPOS\SOUNDCALC\SoundCalc\bin\Debug\Products.mdb;defaultdir=C:\USERS\VIKTOR\SOURCE\REPOS\SOUNDCALC\SoundCalc\bin\Debug;driverid=25;fil=MS Access;maxbuffersize=2048;pagetimeout=5;uid=admin"
            providerName="System.Data.Odbc" />
        <add name="SoundCalc.Properties.Settings.Products1ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Products1.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>